[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "*"
backcall = "*"
certifi = "*"
chardet = "*"
colorama = "*"
coreapi = "*"
coreschema = "*"
decorator = "*"
dj-database-url = "*"
django = "*"
django-cors-headers = "*"
django-countries = "*"
django-filter = "*"
django-heroku = "*"
django-money = "*"
django-phonenumber-field = "*"
django-templated-mail = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
drf-yasg = "*"
gunicorn = "*"
idna = "*"
inflection = "*"
ipython = "*"
itypes = "*"
jedi = "*"
parso = "*"
phonenumbers = "*"
pickleshare = "*"
pillow = "*"
prompt-toolkit = "*"
psycopg2 = "*"
py-moneyed = "*"
pygments = "*"
pyjwt = "*"
pyparsing = "*"
pytz = "*"
requests = "*"
rest-framework-generic-relations = "*"
"ruamel.yaml" = "*"
"ruamel.yaml.clib" = "*"
six = "*"
sqlparse = "*"
traitlets = "*"
uritemplate = "*"
urllib3 = "*"
wcwidth = "*"
whitenoise = "*"
Babel = "*"
ipython_genutils = "*"
Jinja2 = "*"
MarkupSafe = "*"

[requires]
python_version = "3.9"
